
body {
    background-color: #e62272;
    overflow: hidden;
    text-align: center;
    font-family: oswald, sans-serif;
    color: white;
    min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.welcome {
    padding-top: 10px;
    text-align: center;
    font-family: oswald, sans-serif;
    color: white;
}

.questions {
    display: none;
}


#room-name-input {
    background-color: transparent;
    color: #e62272;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.card {
    max-width: 90%;
    margin: auto;
    margin-top: 10%;
}

.cellHolder {
    margin-top: 2px;
    position: relative;
}

.owncards {
    margin-bottom: 80px;
    margin-top: 20px;
}

.image {
    opacity: 1;
    display: block;
    z-index: 0;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cellHolder ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;
    z-index: 1;
    text-align: center;
    padding: 0;
}

.image:hover {
    opacity: 0.3;
}

.image:hover + ul {
    opacity: 1;
}

ul:hover{
    opacity: 1;
}

.cardPyramid {
    width: 15vw;
    margin: 2vw auto 1%;
}

.middle {
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
}

.logo {
    max-width: 30%;
    margin-top: 17%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
