{% extends 'bussen/base.html' %}
{% load static game %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'rooms/css/enter.css' %}"/>
    <link rel="stylesheet" href="{% static 'bussen/css/forms.css' %}"/>
    <link rel="stylesheet" href="{% static 'rooms/css/toastr.css' %}"/>
{% endblock %}

{% block header %}
    {% render_pyramid_header player %}
{% endblock %}

{% block page %}
<div class="container-lg min-vh-100 my-5">
    <div class="container text-center text-white" id="game-container">
        <h1 class="mb-5">Phase 2: Piramid</h1>
        <div class="container">
            {% render_pyramid player %}
            <div class="py-5">

            </div>
            {% render_player_hand player %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        GAME_NAME = "{{ game }}";
    </script>
    <script src="{% static 'rooms/js/game_phase_2.js' %}"></script>
    <script src="{% static 'rooms/js/toastr.js' %}"></script>
{% endblock %}