{% load static game %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'rooms/css/questions.css' %}"/>
    <div class="container d-flex align-content-between justify-content-center" id="question-container">
{% endif %}

{% if question is not None %}
    <div class="card mx-auto mx-sm-2 mb-3 question-container">
        <div class="card-header">
            {{ question }}
        </div>
        <div class="card-body">
            {% for answer in answers %}
                <div class="btn btn-primary" onclick="send_phase1_question_answer({{ answer.value }});">{{ answer.answer }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="card mx-auto mx-sm-2 mb-3 question-container">
        <div class="card-header">
            {{ player.current_game.current_player_obj }} is currently answering a question
        </div>
        <div class="card-body">
            It will be your turn soon!
        </div>
    </div>
{% endif %}

{% if not refresh %}
    </div>
    <script>
        REFRESH_GAME_QUESTION_URL = "{% url 'rooms:game_player_question' game=player.current_game %}"
    </script>
    <script src="{% static 'rooms/js/player-question.js' %}"></script>
{% endif %}