{% load static game %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'rooms/css/pyramid-header.css' %}"/>
    <nav class="navbar sticky-top pyramid-header">
        <div class="container d-flex flex-column justify-content-start align-items-start" id="pyramid-header-container">
{% endif %}

{% if player.current_game.current_card|add:1 == player.current_game.PYRAMID_SIZE_CARDS %}
    <div class="btn btn-danger" onclick="next_card({% if player.current_game.current_card is None %}null{% else %}{{ player.current_game.current_card }}{% endif %})">To the bus</div>
{% else %}
    <div class="btn btn-primary" onclick="next_card({% if player.current_game.current_card is None %}null{% else %}{{ player.current_game.current_card }}{% endif %})">Next card</div>
{% endif %}

{% if not refresh %}
        </div>
    </nav>
    <script>
        REFRESH_GAME_PYRAMID_HEADER = "{% url 'rooms:game_pyramid_header' game=player.current_game %}"
    </script>
    <script src="{% static 'rooms/js/pyramid-header.js' %}"></script>
{% endif %}