{% extends 'games/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bussen/css/enter.css' %}"/>
    <link rel="stylesheet" href="{% static 'games/css/forms.css' %}"/>
{% endblock %}

{% block page %}
<div class="container-lg min-vh-100 d-flex align-items-center justify-content-center">
    <div class="w-100 flex-row d-flex flex-nowrap justify-content-between">

        <div class="">
            <img class="logo" src="{% static 'bussen/img/thalia.svg' %}">
        </div>
        <div class="m-auto title-block">
            <div class="text-white">
                <h1>You are currently playing in room: {{ game }}</h1>
            </div>

            <div class="container">
                    <p class="text-white">Amount of players: <span id="amount-of-players">{{ game.amount_of_players }}</span> (<span id="amount-of-online-players">{{ game.amount_of_online_players }}</span> online)</p>
                    <div class="btn btn-primary {% if not game.enough_players or game.phase != 0 %}disabled{% endif %}" id="start-game-button">Start game</div>
            </div>
        </div>

        <div>
            <img class="logo" src="{% static 'bussen/img/thalia.svg' %}">
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        GAME_NAME = "{{ game }}";
        AMOUNT_OF_PLAYERS_BLOCK = document.getElementById('amount-of-players');
        AMOUNT_OF_ONLINE_PLAYERS_BLOCK = document.getElementById('amount-of-online-players');
        START_GAME_BUTTON = document.getElementById('start-game-button');
    </script>
    <script src="{% static 'bussen/js/game-hub.js' %}"></script>
{% endblock %}