{% load static game %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'bussen/css/hand.css' %}"/>
    <div class="d-flex align-content-between justify-content-center" id="hand-container">
{% endif %}
    {% for card in hand %}
        <div class="single-card-container mx-4" onclick="put_card('{{ card.suit }}', '{{ card.rank }}')">
            {% render_card card.suit card.rank %}
        </div>
    {% endfor %}
{% if not refresh %}
    </div>
    <script>
        add_update_list(update_and_replace, ["{% url 'bussen:game_player_hand' room=player.room %}", document.getElementById("hand-container"), {}]);
    </script>
{% endif %}