{% load static game %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'bussen/css/game.css' %}"/>
    <div class="container d-flex align-content-between justify-content-between" id="card-container">
{% endif %}
    {% for card in player.current_hand.card_list %}
        <div class="single-card-container">
            {% render_card card.suit card.rank %}
        </div>
    {% endfor %}
{% if not refresh %}
    </div>
    <script>
        REFRESH_CARDS_DATA_URL = "{% url 'bussen:game_player_cards' game=player.current_game %}"
    </script>
    <script src="{% static 'bussen/js/player-cards.js' %}"></script>
{% endif %}