{% load static game %}

{% if not refresh %}
    <link rel="stylesheet" href="{% static 'bussen/css/game.css' %}"/>
    <div class="container d-flex align-content-between justify-content-between" id="card-container">
{% endif %}
    {% for card in hand.card_list %}
        <div class="single-card-container">
            {% render_card card.suit card.rank %}
        </div>
    {% endfor %}
{% if not refresh %}
    </div>
    <script>
        add_update_list(update_and_replace, ["{% url 'bussen:game_player_cards' room=player.room %}", document.getElementById("card-container"), {}]);
    </script>
{% endif %}