<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Thalia bussen drinking game</title>
</head>
<body>

<div class="w3-cell-row w3-center w3-mobile" style="margin-top: 10%">

    <div class="w3-cell w3-mobile w3-center w3-container">
        {% load static %}
        <img class="logo" src="{% static 'media/thalia.svg' %}">
    </div>
    <div class="w3-cell">
        <div class="w3-mobile welcome" style="margin-right: auto; margin-left: auto; padding-top: 10%">
            <H1>Welcome to the Thalia bussen website!</H1>
        </div>

        <div class="w3-container w3-center w3-mobile">
            <p style="color: white; margin-bottom: 2%; font-size: 20px">Which room would you like to enter?</p>

            <input id="room-name-input" class="w3-input w3-border-0 w3-round-large" style="width: 30%; background-color: white;
    text-align: center; display: inline-block" type="text" value="name"
                   onfocus="this.value = this.value=='name'?'':this.value;"
                   onblur="this.value = this.value==''?'name':this.value;"
                   onkeypress="">
            <br>
            <input id="room-name-submit" class="w3-button w3-round-large" style="background-color: white; color: #e62272;
            margin-top:2%" type="button" value="Enter">

            <script>
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {
                        document.getElementById("room-name-submit").click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function(e) {
                    enter_room();
                };
                function enter_room() {
                    var roomName = document.querySelector('#room-name-input').value;
                    if(roomName !== "" && roomName != null){
                        roomName = roomName.replace(/\s/g,'');
                        roomName = roomName.toLowerCase();
                        roomName = roomName.replace('/','');
                        window.location.pathname =  roomName + '/';
                    }
                }
            </script>
        </div>
    </div>

    <div id="logo2" class="w3-cell w3-mobile w3-center w3-container">
        {% load static %}
        <img class="logo" src="{% static 'media/thalia.svg' %}">
    </div>

</div>
</body>
</html>