<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Bussen Room {{ room_name }}</title>
</head>
<body style="background: #e62272">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="{% static 'css/toastr.css' %}" rel="stylesheet"/>

{% load static %}
<script type="text/javascript" src="{% static 'js/Reconnectingsocket.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/toastr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/confetti.min.js' %}"></script>

<div class="w3-mobile">
    <div class="welcome w3-mobile" style="margin-right: auto; margin-left: auto; padding-top: 1px">
        <h1>Welcome to room: <br>{{ room_name }}</h1>
    </div>
    <input id="room-start" class="w3-button w3-round-large" style="background-color: white; color: #e62272;
            margin-top:1%" type="button" value="Everyone is in!">
</div>
<div id="questions" class="questions w3-card w3-white w3-center" style="width: 60%; margin: auto">
    <header class="w3-container" style="background: #e62272">
        <h1 id="turn-question" style="color: white"></h1>
    </header>
    <div class="w3-container">
        <H1 id="text-question"></H1>
    </div>
    <div class="w3-row w3-container" id="question-choices" style="padding-bottom: 20px">
        <div class="w3-col s4 w3-container">
            <H2 id="a0"></H2><br><input class="w3-radio" type="radio" name="answer" value="a" checked>
        </div>
        <div class="w3-col s4">
            <div class="w3-container">
                <H2 id="a1"></H2><br><input class="w3-radio" type="radio" name="answer" value="b">
            </div>
            <input id="answer-submit" class="w3-button w3-round-large" style="background-color: #e62272; color: white;
            margin: auto; margin-top:10%; width: 100%" type="button" value="Enter">
        </div>
        <div class="w3-col s4 w3-container">
            <H2 id="a2"></H2><br><input class="w3-radio" type="radio" name="answer" value="c">
        </div>
    </div>
</div>
<div class id="round2" style="display: none">
    <div class="cellHolder" id="layer0">
        <img class="cardPyramid w3-round-large image" id="layer0-0" src="{% static 'media/cards/back.jpg' %}">
        <ul style="list-style-type: none; padding-left: 10px" id='card0-0'></ul>
    </div>
    <div id="layer1" class="w3-cell-row">
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float:right; margin-right: 8%" id="layer1-0"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left:77%" id='card1-0'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float: left; margin-left: 8%" id="layer1-1"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 23%" id='card1-1'></ul>
        </div>
    </div>
    <div id="layer2" class="w3-cell-row">
        <div class="w3-cell cellHolder" style="margin-top: 10px">
            <img class="cardPyramid w3-round-large image" style="float: right;" id="layer2-0"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left:78%;" id='card2-0'></ul>
        </div>
        <div class="w3-cell cellHolder" style="margin-top: 10px">
            <img class="cardPyramid w3-round-large image" style="float: right; margin-right: 28%;" id="layer2-1"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left:50%" id='card2-1'></ul>
        </div>
        <div class="w3-cell cellHolder" style="margin-top: 10px">
            <img class="cardPyramid w3-round-large image" style="float: left;" id="layer2-2"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 23%" id='card2-2'></ul>
        </div>
    </div>
    <div id="layer3" class="w3-cell-row">
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float: right" id="layer3-0"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 70%" id='card3-0'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float: right; margin-right: 13%" id="layer3-1"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 58%" id='card3-1'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float: left; margin-left: 13%" id="layer3-2"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 44%" id='card3-2'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" style="float: left" id="layer3-3"
                 src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; left: 30%" id='card3-3'></ul>
        </div>
    </div>
    <div id="layer4" class="w3-cell-row">
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" id="layer4-0" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; " id='card4-0'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" id="layer4-1" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;" id='card4-1'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" id="layer4-2" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none; " id='card4-2'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" id="layer4-3" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;" id='card4-3'></ul>
        </div>
        <div class="w3-cell cellHolder">
            <img class="cardPyramid w3-round-large image" id="layer4-4" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;" id='card4-4'></ul>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="w3-mobile w3-center w3-container" style="margin-top: 7%">
        <h1 id="text-input">Please enter your username</h1>
        <input class="w3-input w3-border-0 w3-round-large" type="text" id="fname" name="fname"
               style="width: 30%; background-color: white;
                                                            text-align: center; display: inline-block">
    </div>
</div>
<div class="w3-container w3-cell w3-center w3-mobile" style="width: 20%; padding-top: 15px">
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/main.js' %}"></script>
</div>
<div id="inTheBus" class="w3-card w3-center" style="display: none; width: 60%; margin: auto">
    <header class="w3-container" style="background: #e62272">
        <h1 id="BusTurn" style="color: white"></h1>
    </header>
</div>
<div id="round3" style="display: none">
    <div class="w3-card w3-center" style="width: 60%; margin: auto auto 5%;">
        <header class="w3-container" style="background: #e62272">
            <h1 id="round3message" style="color: white">Test</h1>
        </header>
    </div>
    <div id="Bus" class="w3-cell-row">
        <div class="w3-cell cellHolder">
            <div id="busu0" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc0" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;">
                <li>
                    <button class='w3-button middle' id="busb0" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd0" class="triangle-down"></div>
        </div>
        <div class="w3-cell cellHolder">
            <div id="busu1" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc1" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;">
                <li>
                    <button class='w3-button middle' id="busb1" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd1" class="triangle-down"></div>
        </div>
        <div class="w3-cell cellHolder">
            <div id="busu2" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc2" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;">
                <li>
                    <button class='w3-button middle' id="busb2" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd2" class="triangle-down"></div>
        </div>
        <div class="w3-cell cellHolder">
            <div id="busu3" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc3" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;" >
                <li>
                    <button class='w3-button middle' id="busb3" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd3" class="triangle-down"></div>
        </div>
        <div id class="w3-cell cellHolder w3-center">
            <div id="busu4" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc4" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;">
                <li>
                    <button class='w3-button middle' id="busb4" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd4" class="triangle-down"></div>
        </div>
        <div class="w3-cell cellHolder">
            <div id="busu5" class="triangle-up"></div>
            <img class="cardPyramid w3-round-large image" id="busc5" src="{% static 'media/cards/back.jpg' %}">
            <ul style="list-style-type: none;">
                <li>
                    <button class='w3-button middle' id="busb5" style='background: black; visibility: hidden'>Paal</button>
                </li>
            </ul>
            <div id="busd5" class="triangle-down"></div>
        </div>
    </div>
    <div>
        <h1 id="isPlaying"></h1>
    </div>
</div>
</body>
<footer id="yourCards" class="owncards">
    <H1 style="color: white">Your cards</H1>
    <div id="cards" class="w3-row w3-container w3-center">
        <div class="w3-col s3 w3-container">
            {% load static %}
            <img class="card w3-round-large" id="c0" src="{% static 'media/cards/back.jpg' %}">
        </div>
        <div class="w3-col s3 w3-container">
            {% load static %}
            <img class="card w3-round-large" id="c1" src="{% static 'media/cards/back.jpg' %}">
        </div>
        <div class="w3-col s3 w3-container">
            {% load static %}
            <img class="card w3-round-large" id="c2" src="{% static 'media/cards/back.jpg' %}">
        </div>
        <div class="w3-col s3 w3-container">
            {% load static %}
            <img class="card w3-round-large" id="c3" src="{% static 'media/cards/back.jpg' %}">
        </div>
    </div>
</footer>

</html>